@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/static/Inter-Regular.ttf") format("truetype"),
    url("./assets/fonts/static/Inter-Bold.ttf") format("truetype"),
    url("./assets/fonts/static/Inter-ExtraBold.ttf") format("truetype");
}

a {
  text-decoration: none;
  color: #111;

  &:hover {
    color: hsl(5, 85%, 63%);
  }
}

body {
  padding: 0 6rem;

  .dashboard-container {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;

    .navbar {
      padding: 1.5rem 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
        font-size: 2.5rem;
        font-weight: bold;
        font-family: 'Inter';
      }

      .right {
        display: flex;

        .link {
          margin-left: 1.5rem;
        }
      }
    }

    .main {
      padding-bottom: 1rem;
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 2rem;

      .left {
        img {
          width: 100%;
        }

        .bottom {
          padding: 1rem 0;
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 2rem;

          h1 {
            margin: 0;
            font-size: 3.5rem;
            line-height: 3.5rem;
          }

          section {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            p {
              margin: 0;
              font-size: 15px;
              line-height: 1.5rem;
            }

            button {
              width: 50%;
              padding: 1rem 1rem;
              text-transform: uppercase;
              letter-spacing: 2px;
              background-color: hsl(5, 85%, 63%);
              color: #fff;
              border: none;
              cursor: pointer;

              &:hover {
                background-color: hsl(240, 100%, 5%);
              }
            }
          }
        }
      }

      .right {
        padding: 1.5rem;
        background-color: hsl(240, 100%, 5%);
        color: #fff;

        h2 {
          margin: 0;
          padding: .5rem 0;
          font-size: 2.5rem;
          color: hsl(35, 77%, 62%);
        }

        .new-topic {
          margin-bottom: 1rem;

          h3 {
            font-size: 1.3rem;
          }

          p {
            line-height: 1.5rem;
            color: hsl(233, 8%, 79%);
          }

          &:not(:last-child) {
            border-bottom: 1px solid #fff;
          }
        }
      }
    }
  }

  .attribution {
    font-size: 11px;
    text-align: center;
    display: none;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}