@font-face {
  font-family: "Inter";
  src: url("../fonts/static/Inter-Regular") format("truetype");
}
a {
  text-decoration: none;
  color: #111;
}
a:hover {
  color: hsl(5, 85%, 63%);
}

p {
  line-height: 1.5rem;
}

body {
  width: 1440px;
  padding: 0 6rem;
  font-family: "Inter", sans-serif;
}
@media (max-width: 375px) {
  body {
    width: 375px;
    padding: 0 1rem;
  }
}
body .dashboard-container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media (max-width: 375px) {
  body .dashboard-container {
    width: 100%;
  }
}
body .dashboard-container .navbar {
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: none;
}
body .dashboard-container .navbar .logo {
  font-family: "Inter";
  font-size: 2.5rem;
  font-weight: bold;
}
body .dashboard-container .navbar .right {
  display: flex;
}
body .dashboard-container .navbar .right .link {
  margin-left: 1.5rem;
}
body .dashboard-container .main {
  padding-bottom: 1rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
}
@media (max-width: 375px) {
  body .dashboard-container .main {
    grid-template-columns: 1fr;
  }
}
body .dashboard-container .main .left img {
  width: 100%;
}
@media (max-width: 375px) {
  body .dashboard-container .main .left img {
    background-image: url("../images//image-web-3-mobile.jpg");
    background-repeat: no-repeat;
    width: 104px;
    height: 47px;
    width: 100%;
    height: 250px;
  }
}
body .dashboard-container .main .left .bottom {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
@media (max-width: 375px) {
  body .dashboard-container .main .left .bottom {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
body .dashboard-container .main .left .bottom h1 {
  margin: 0;
  font-size: 3.5rem;
  line-height: 3.5rem;
}
@media (max-width: 375px) {
  body .dashboard-container .main .left .bottom h1 {
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 2.5rem;
  }
}
body .dashboard-container .main .left .bottom section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 375px) {
  body .dashboard-container .main .left .bottom section {
    gap: 1rem;
  }
}
body .dashboard-container .main .left .bottom section p {
  margin: 0;
  font-size: 15px;
  color: hsl(236, 13%, 42%);
}
@media (max-width: 375px) {
  body .dashboard-container .main .left .bottom section p {
    font-size: 18px;
    line-height: 2rem;
  }
}
body .dashboard-container .main .left .bottom section button {
  width: 50%;
  padding: 1rem 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: hsl(5, 85%, 63%);
  color: #fff;
  border: none;
  cursor: pointer;
}
body .dashboard-container .main .left .bottom section button:hover {
  background-color: hsl(240, 100%, 5%);
}
body .dashboard-container .main .right {
  padding: 1.5rem;
  background-color: hsl(240, 100%, 5%);
  color: #fff;
}
@media (max-width: 375px) {
  body .dashboard-container .main .right {
    margin-top: 6rem 0;
  }
}
body .dashboard-container .main .right h2 {
  margin: 0;
  padding: 0.5rem 0;
  font-size: 2.5rem;
  color: hsl(35, 77%, 62%);
}
body .dashboard-container .main .right .new-topic {
  margin-bottom: 1rem;
}
body .dashboard-container .main .right .new-topic h3 {
  font-size: 1.3rem;
}
body .dashboard-container .main .right .new-topic p {
  color: hsl(233, 8%, 79%);
}
body .dashboard-container .main .right .new-topic:not(:last-child) {
  border-bottom: 1px solid #fff;
}
body .dashboard-container .bottom-page {
  margin: 4rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
@media (max-width: 375px) {
  body .dashboard-container .bottom-page {
    margin: 1rem 0;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
body .dashboard-container .bottom-page .topic {
  display: flex;
}
body .dashboard-container .bottom-page .topic img {
  height: 120px;
  margin-right: 1rem;
}
body .dashboard-container .bottom-page .topic .items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .dashboard-container .bottom-page .topic .items * {
  margin: 0;
}
body .dashboard-container .bottom-page .topic .items h2 {
  font-size: 2rem;
  color: hsl(233, 8%, 79%);
}
body .dashboard-container .bottom-page .topic .items h3 {
  cursor: pointer;
}
body .dashboard-container .bottom-page .topic .items h3:hover {
  color: hsl(5, 85%, 63%);
}
body .attribution {
  font-size: 11px;
  text-align: center;
  display: none;
}
body .attribution a {
  color: hsl(228, 45%, 44%);
}